
.sub1_lis{
	margin-top:30px;
	display: flex;
	justify-content: space-around;
}
.sub1_lis>li{
	width: 33.3%;
	text-align: center;
	
}
.sub1_lis>li>a>img{
	width: 40%;
}
.sub1_lis>li>a>h4{
	color: #000000;
}
.sub1_lis>li>a>span{
	font-size: 15px;
	color: #000000;
}
.subs_ul{
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
}
.subs_ul>li{
	text-align: center;
	width: 25%;
}
.subs_ul>li>a>span{
	display: block;
	margin: auto;
	width: 40%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	background:#90acd4 ;
	font-size: 25px;
	border-radius: 5px;
	margin-bottom: 8px;
}
.mui-navigate-right>dl>dt{
	font-size: 18px;
	font-weight:600;
	color: #666;
	margin-bottom: 5px;
}
.mui-navigate-right>dl>dd{
	font-size: 15px;
	color: #666;
}
.mui-navigate-right>dl>dd>span{
	color: #666;
	font-size: 15px;
	vertical-align: middle;
	margin: 0 5px;
}
.uls_pic>li{
	text-align: center;
	margin-bottom: 15px;
}
.uls_pic>li>a>img{
	border-radius: 25px;
	width: 90%;
	box-shadow: 0 5px 5px #ccc;
}
.time{
	display: block;
	margin: 15px;
	color: #666;
}
.today{
	margin: 0 15px 20px;	
}
#register_mianban{	
				margin: 100px auto 0;
				width: 80%;
				height: 250px;
				border: 1px solid #2AC845;
				border-radius: 10px;	
				box-shadow: 0 0 5px #2AC845;
				overflow: auto;
				background: #fff;
			}
			#register_mianban input{
				width: 70%;
				height:45px;
				/*border: 0 none;*/
			}
			#register_mianban label{
				font-size: 25px;
				margin-left: 10px;
			}
			form{
				margin-top: 20px;
			}
			 .conter{
			 	margin-top: 10px;
				text-align: center;
			}
			 .conter>span{
			 	font-size: 18px;
			 }
			 .conter>span>a{
			 	color: #2AC845;
			 }
			 .son{
			 	margin-top: 30px;
			 	text-align: center;
			 }
			 .son>a{
			 	font-size: 20px;
			 	color: #fff;
			 	background:#2AC845;
			 	padding: 5px 10px;
			 	border-radius: 5px;
			 }